.login-form-wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form-all {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-title {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1em;
	padding-bottom: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: var(--foreground-blue);
}

.form-email-wrapper {
	width: 100%;
	margin: 5px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-password-wrapper {
	width: 100%;
	margin: 5px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-label-email, .form-label-password {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.button-container {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form-button {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
  border: none;
	padding: 5px 8px;
	color: var(--background-white);
	background-color: var(--foreground-blue);
}








/*
old
*/

/* .login-page {
	background-color: var(--background-white);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-forms {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
}

.login-form-wrapper {
	background-color: var(--background-white);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-form-one {
	padding: 10px;
}

.form-label-email,
.form-label-password {
	margin: 0 10px 0 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.login-head-text {
	margin: 15px 0 0 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h4 {
	margin: 5px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 19px;
}

.form-button {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	border: none;
	padding: 5px 8px;
	color: var(--background-white);
	background-color: var(--foreground-blue);
}

.form-email-wrapper,
.form-password-wrapper {
	margin: 0 0 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 829px) {
	.login-forms {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
	}

	.login-head-text {
		font-size: 15px;
	}

	p,
	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

} */