/*
colors: 

orange-dark: #ff5003
orange-middle: #fd7702
orange-light: #ff8e00
blue-dark: #002347
blue-middle: #003366
blue-light: #003f7d

red: #ed2938
green: #006b3e
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

body {
  margin: 0;
  background: linear-gradient(-0.25turn, #ff5003, #ff8e00);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  background: #003f7d;
  box-shadow: 0.25px 0.25px 0.25px 0.25px #000000;
  height: 500px;
  width: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeaderModal {
  color: white;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 200;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

#add-task {
  color: #ff5003;
  background-color: #003f7d;
  border: 4px solid #ff5003;
  border-radius: 50px;
  padding: 6px 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

#delete-task {
  background-color: #ed2938;
  border: none;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

#task-done {
  background-color: #32cd32;
  border: none;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

#edit-task {
  background-color: #003f7d;
  border: 3px solid #ff5003;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.Footer {
  color: white;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
  font-size: 30px;
}


